@tailwind base;
@tailwind components;
@tailwind utilities;



.empty{
      background: radial-gradient(rgba(20,85,30,.5) 19%, rgba(0, 0, 0, 0) 20%);

} 
.piece{
      background:radial-gradient(transparent 0%, transparent 79%, rgba(20,85,30,.5) 80%)
}
.empty:hover{
      background: rgba(20,85,30,.5);
      

} 
.piece:hover{
      background: rgba(20,85,30,.5);

}
.under-check{
      background: radial-gradient(ellipse at center, rgb(255, 0, 0) 0%, rgb(231, 0, 0) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
}
.selected{
      background: rgba(20,85,30,.5);
}
.last-move{
      background: rgba(155,199,0,.41);
      
}